.vs/AzMy-Perf-Checker/v17/.futdcache.v2
.vs/ProjectEvaluation/azmy-perf-checker.metadata.v7.bin
.vs/ProjectEvaluation/azmy-perf-checker.projects.v7.bin
.vs/ProjectEvaluation/azmy-perf-checker.metadata.v7.bin
